
ProjectedRaises/.vs/ProjectedRaises/v16/.suo
ProjectedRaises/.vs/ProjectedRaises/v16/Server/sqlite3/db.lock
ProjectedRaises/.vs/ProjectedRaises/v16/Server/sqlite3/storage.ide
ProjectedRaises/.vs/ProjectedRaises/v16/Server/sqlite3/storage.ide-shm
ProjectedRaises/.vs/ProjectedRaises/v16/Server/sqlite3/storage.ide-wal
ProjectedRaises/ProjectedRaises/obj/Debug/netcoreapp3.0/ProjectedRaises.AssemblyInfo.cs
ProjectedRaises/ProjectedRaises/obj/Debug/netcoreapp3.0/ProjectedRaises.AssemblyInfoInputs.cache
ProjectedRaises/ProjectedRaises/obj/Debug/netcoreapp3.0/ProjectedRaises.assets.cache
ProjectedRaises/ProjectedRaises/obj/Debug/netcoreapp3.0/ProjectedRaises.csprojAssemblyReference.cache
ProjectedRaises/ProjectedRaises/obj/project.assets.json
ProjectedRaises/ProjectedRaises/obj/ProjectedRaises.csproj.nuget.cache
ProjectedRaises/ProjectedRaises/obj/ProjectedRaises.csproj.nuget.dgspec.json
ProjectedRaises/ProjectedRaises/obj/ProjectedRaises.csproj.nuget.g.props
ProjectedRaises/ProjectedRaises/obj/ProjectedRaises.csproj.nuget.g.targets
ProjectedRaises/ProjectedRaises/bin/Debug/netcoreapp3.0/ProjectedRaises.deps.json
ProjectedRaises/ProjectedRaises/bin/Debug/netcoreapp3.0/ProjectedRaises.dll
ProjectedRaises/ProjectedRaises/bin/Debug/netcoreapp3.0/ProjectedRaises.exe
ProjectedRaises/ProjectedRaises/bin/Debug/netcoreapp3.0/ProjectedRaises.pdb
ProjectedRaises/ProjectedRaises/bin/Debug/netcoreapp3.0/ProjectedRaises.runtimeconfig.dev.json
ProjectedRaises/ProjectedRaises/bin/Debug/netcoreapp3.0/ProjectedRaises.runtimeconfig.json
ProjectedRaises/ProjectedRaises/obj/Debug/netcoreapp3.0/ProjectedRaises.csproj.FileListAbsolute.txt
ProjectedRaises/ProjectedRaises/obj/Debug/netcoreapp3.0/ProjectedRaises.dll
ProjectedRaises/ProjectedRaises/obj/Debug/netcoreapp3.0/ProjectedRaises.exe
ProjectedRaises/ProjectedRaises/obj/Debug/netcoreapp3.0/ProjectedRaises.pdb
ProjectedRaises/.vs/ProjectedRaises/DesignTimeBuild/.dtbcache
Eggs/.vs/Eggs/v16/.suo
Eggs/.vs/Eggs/v16/Server/sqlite3/db.lock
Eggs/.vs/Eggs/v16/Server/sqlite3/storage.ide
Eggs/.vs/Eggs/v16/Server/sqlite3/storage.ide-shm
Eggs/.vs/Eggs/v16/Server/sqlite3/storage.ide-wal
Eggs/Eggs/bin/Debug/netcoreapp3.0/Eggs.deps.json
Eggs/Eggs/bin/Debug/netcoreapp3.0/Eggs.dll
Eggs/Eggs/bin/Debug/netcoreapp3.0/Eggs.exe
Eggs/Eggs/bin/Debug/netcoreapp3.0/Eggs.pdb
Eggs/Eggs/bin/Debug/netcoreapp3.0/Eggs.runtimeconfig.dev.json
Eggs/Eggs/bin/Debug/netcoreapp3.0/Eggs.runtimeconfig.json
Eggs/Eggs/obj/Debug/netcoreapp3.0/Eggs.AssemblyInfo.cs
Eggs/Eggs/obj/Debug/netcoreapp3.0/Eggs.AssemblyInfoInputs.cache
Eggs/Eggs/obj/Debug/netcoreapp3.0/Eggs.csproj.FileListAbsolute.txt
Eggs/Eggs/obj/Debug/netcoreapp3.0/Eggs.assets.cache
Eggs/Eggs/obj/Debug/netcoreapp3.0/Eggs.csprojAssemblyReference.cache
Eggs/Eggs/obj/Debug/netcoreapp3.0/Eggs.dll
Eggs/Eggs/obj/Debug/netcoreapp3.0/Eggs.exe
Eggs/Eggs/obj/Debug/netcoreapp3.0/Eggs.pdb
Eggs/Eggs/obj/Eggs.csproj.nuget.cache
Eggs/Eggs/obj/Eggs.csproj.nuget.dgspec.json
Eggs/Eggs/obj/Eggs.csproj.nuget.g.props
Eggs/Eggs/obj/Eggs.csproj.nuget.g.targets
Eggs/Eggs/obj/project.assets.json
Eggs/.vs/Eggs/DesignTimeBuild/.dtbcache
Dollars/.vs/Dollars/v16/.suo
Dollars/.vs/Dollars/v16/Server/sqlite3/db.lock
Dollars/.vs/Dollars/v16/Server/sqlite3/storage.ide
Dollars/.vs/Dollars/v16/Server/sqlite3/storage.ide-shm
Dollars/.vs/Dollars/v16/Server/sqlite3/storage.ide-wal
Dollars/Dollars/bin/Debug/netcoreapp3.0/Dollars.deps.json
Dollars/Dollars/bin/Debug/netcoreapp3.0/Dollars.dll
Dollars/Dollars/bin/Debug/netcoreapp3.0/Dollars.exe
Dollars/Dollars/bin/Debug/netcoreapp3.0/Dollars.pdb
Dollars/Dollars/bin/Debug/netcoreapp3.0/Dollars.runtimeconfig.dev.json
Dollars/Dollars/bin/Debug/netcoreapp3.0/Dollars.runtimeconfig.json
Dollars/Dollars/obj/Debug/netcoreapp3.0/Dollars.AssemblyInfo.cs
Dollars/Dollars/obj/Debug/netcoreapp3.0/Dollars.AssemblyInfoInputs.cache
Dollars/Dollars/obj/Debug/netcoreapp3.0/Dollars.assets.cache
Dollars/Dollars/obj/Debug/netcoreapp3.0/Dollars.csproj.FileListAbsolute.txt
Dollars/Dollars/obj/Debug/netcoreapp3.0/Dollars.csprojAssemblyReference.cache
Dollars/Dollars/obj/Debug/netcoreapp3.0/Dollars.dll
Dollars/Dollars/obj/Debug/netcoreapp3.0/Dollars.exe
Dollars/Dollars/obj/Debug/netcoreapp3.0/Dollars.pdb
Dollars/Dollars/obj/Dollars.csproj.nuget.cache
Dollars/Dollars/obj/Dollars.csproj.nuget.dgspec.json
Dollars/Dollars/obj/Dollars.csproj.nuget.g.props
Dollars/Dollars/obj/Dollars.csproj.nuget.g.targets
Dollars/Dollars/obj/project.assets.json
