
ProjectedRaises/.vs/ProjectedRaises/v16/.suo
ProjectedRaises/.vs/ProjectedRaises/v16/Server/sqlite3/db.lock
ProjectedRaises/.vs/ProjectedRaises/v16/Server/sqlite3/storage.ide
ProjectedRaises/.vs/ProjectedRaises/v16/Server/sqlite3/storage.ide-shm
ProjectedRaises/.vs/ProjectedRaises/v16/Server/sqlite3/storage.ide-wal
ProjectedRaises/ProjectedRaises/obj/Debug/netcoreapp3.0/ProjectedRaises.AssemblyInfo.cs
ProjectedRaises/ProjectedRaises/obj/Debug/netcoreapp3.0/ProjectedRaises.AssemblyInfoInputs.cache
ProjectedRaises/ProjectedRaises/obj/Debug/netcoreapp3.0/ProjectedRaises.assets.cache
ProjectedRaises/ProjectedRaises/obj/Debug/netcoreapp3.0/ProjectedRaises.csprojAssemblyReference.cache
ProjectedRaises/ProjectedRaises/obj/project.assets.json
ProjectedRaises/ProjectedRaises/obj/ProjectedRaises.csproj.nuget.cache
ProjectedRaises/ProjectedRaises/obj/ProjectedRaises.csproj.nuget.dgspec.json
ProjectedRaises/ProjectedRaises/obj/ProjectedRaises.csproj.nuget.g.props
ProjectedRaises/ProjectedRaises/obj/ProjectedRaises.csproj.nuget.g.targets
